:root {
    --tile-size: 50px
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
    gap: 1px;

}

.odd-row:nth-child(even),
.even-row:nth-child(odd) {
    background: rgb(126, 11, 0);
}

.odd-row:nth-child(odd),
.even-row:nth-child(even) {
    background: rgb(255, 184, 184);
}